@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Passion+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background: rgb(109, 213, 237);
    background: radial-gradient(
        circle,
        rgba(109, 213, 237, 1) 30%,
        rgba(33, 147, 176, 1) 100%
    );
}

h1 {
    font-size: 6rem;
    text-align: center;
    margin-top: 2rem;
    font-family: 'Passion One', cursive;
}

.weather-container {
    margin: 2rem auto;
    text-align: center;
    width: 50%;
    border-radius: 20px;
    background-color: #f8f8ff;
    padding: 2rem 0.5rem;
    box-shadow: 0 0 10px;
}

#temp {
    font-size: 3rem;
    color: #2193b0;
}

#summary {
    font-size: 2rem;
    color: #6dd5ed;
}

#icon {
    margin: 2rem 0;
}

#timezone {
    color: #666666;
}
